body {
  background-color: black;
}
body h1 {
  color: darkgoldenrod;
  text-align: center;
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
}
body header {
  padding: 5px;
  margin: 0pc;
  display: flex;
  background-color: darkgoldenrod;
  justify-content: center;
}
body header div {
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px 90px;
}
body header div a {
  text-decoration: none;
  color: black;
}
body header div a:hover {
  padding: 5px;
  border-radius: 15px;
  background-color: black;
  color: darkgoldenrod;
}

.bodyhome {
  background-color: black;
  padding: 0%;
  margin: 0%;
  display: grid;
  grid-template-areas: "portada portada portada portada" "header header header header" "section2 section2 section4 section4" "section3 section3 section3 section3" "section5 section5 section5 section5" "contacto contacto contacto contacto";
}
.bodyhome .portada .imagenportada {
  grid-area: portada;
  margin: 0%;
  padding: 0%;
  max-width: 1340px;
}
.bodyhome .headerhome {
  color: white;
  font-family: "Bebas Neue", cursive;
  padding: 0%;
  margin: 0%;
  top: 0%;
  position: sticky;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}
.bodyhome .headerhome .logohome {
  color: black;
  display: flex;
  justify-content: first baseline;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
.bodyhome .headerhome .logohome .imagenlogo {
  width: 5%;
  height: 5%;
  padding: 0%;
  margin: 0%;
}
.bodyhome .headerhome .logohome p {
  margin: 0%;
}
.bodyhome .headerhome .navbarh {
  display: flex;
  justify-content: space-between;
}
.bodyhome .headerhome .navbarh .navh {
  padding: 0%;
}
.bodyhome .headerhome .navbarh .navh:hover {
  animation: AnimacionH 5s;
}
@keyframes AnimacionH {
  0% {
    background-color: black;
    border-radius: 20%;
  }
}
.bodyhome .section2 {
  font-family: "Bebas Neue", cursive;
  padding: 0px;
  margin: 10px 5px 10px 10px;
  border: 0px;
  width: 500px;
  height: 416px;
  background-image: url(../Multimedia/Imagenes/telefonocomputadorapixabay.jpg);
  grid-area: section2;
}
.bodyhome .section3 {
  border: 1px darkgoldenrod solid;
  grid-area: section3;
}
.bodyhome .section4 {
  grid-area: section4;
}
.bodyhome .section4 .planesonline {
  padding: 10px 10px 10px 5px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
}
.bodyhome .section4 .planesonline .plan:hover {
  transform: scale(1.2);
  animation: fondoparrafo 10s;
}
@keyframes fondoparrafo {
  0% {
    background-color: black;
  }
}
.bodyhome .section4 .planesonline .plan {
  width: 200px;
}
.bodyhome .section4 .planesonline .plan .parrafosplanes {
  padding: 0%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  text-align: center;
}
.bodyhome .section5 {
  font-family: "Bebas Neue", cursive;
  color: darkgoldenrod;
  grid-area: section5;
}
.bodyhome .elegientrenador {
  color: darkgoldenrod;
}
.bodyhome .coaches {
  display: flex;
  justify-content: space-around;
}
.bodyhome .coach:hover {
  transform: translateY(-20px);
  transition: all 0.8s;
}

.footer {
  grid-area: contacto;
}
.footer .contacto {
  color: white;
  padding: 0px;
  margin: 0px;
}
.footer .contacto .contacto1 {
  display: flex;
  justify-content: center;
}

.bodypersonalizados {
  background-color: darkgoldenrod;
}
.bodypersonalizados .headerpersonalizados {
  display: flex;
  justify-content: center;
}
.bodypersonalizados .headerpersonalizados .h1personalizados {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  padding: 0px;
  font-size: 60px;
}
.bodypersonalizados .headerpersonalizados .logopersonalizados {
  width: 110px;
  height: 110px;
  padding: 0px;
  margin: 0px;
}
.bodypersonalizados .sectionF {
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodypersonalizados .sectionF .sectionF:hover {
  transform: scale(1.1);
  transition: 1s;
  background-color: black;
}
.bodypersonalizados .sectionF .sectionF img {
  width: 250px;
  height: 250px;
}
.bodypersonalizados .sectionF .parrafoE {
  background-color: black;
  color: white;
  margin: 10px;
  padding: 56px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.bodypersonalizados .sectionFr {
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodypersonalizados .sectionFr .sectionFr img {
  width: 250px;
  height: 250px;
}
.bodypersonalizados .sectionFr .sectionFr:hover {
  transform: scale(1.1);
  transition: 1s;
  background-color: black;
}
.bodypersonalizados .sectionV {
  padding: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodypersonalizados .sectionV .sectionV img {
  width: 250px;
  height: 250px;
}
.bodypersonalizados .sectionV .sectionV:hover {
  transform: scale(1.1);
  transition: 1s;
  background-color: black;
}

.bodyplanesonline {
  background-color: black;
}
.bodyplanesonline .aplanes {
  text-decoration: none;
  color: darkgoldenrod;
  font-family: "Bebas Neue", cursive;
  margin: 50px;
  padding: 10px;
  background-color: black;
  border-radius: 15px;
}
.bodyplanesonline .aplanes:hover {
  animation: cambiodecolor 10s;
}
@keyframes cambiodecolor {
  0% {
    background-color: darkgoldenrod;
    color: black;
  }
}
.bodyplanesonline .headerplanes {
  margin: 10px;
  color: darkgoldenrod;
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  display: flex;
  justify-content: center;
}
.bodyplanesonline .headerplanes .h1planes {
  margin: 70px 0PX;
}
.bodyplanesonline .headerplanes .logoplanes {
  width: 110px;
  height: 110px;
  padding: 0px;
  margin: 0px;
}
.bodyplanesonline .planes {
  color: white;
  display: flex;
  justify-content: space-between;
}
.bodyplanesonline .planes .planhibrido {
  padding: 0px;
  margin: 20px;
  border: 0px;
  background-image: url(/Multimedia/Imagenes/PLAN\ HIBRIDO.png);
  width: 1341px;
  height: 154px;
  display: flex;
  align-items: center;
}
.bodyplanesonline .planes .saludpoderosa {
  padding: 0px;
  margin: 20px;
  border: 0px;
  background-image: url(/Multimedia/Imagenes/sALUD\ PODEROSA.png);
  width: 1341px;
  height: 154px;
  display: flex;
  align-items: center;
}
.bodyplanesonline .planes .puraspiernas {
  padding: 0px;
  margin: 20px;
  border: 0px;
  background-image: url(/Multimedia/Imagenes/puras\ piernas.png);
  width: 1341px;
  height: 154px;
  display: flex;
  align-items: center;
}
.bodyplanesonline .planes .abuelospower {
  padding: 0px;
  margin: 20px;
  border: 0px;
  background-image: url(/Multimedia/Imagenes/aBUELOS\ POWER.png);
  width: 1341px;
  height: 154px;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
