.bodyeducacion {
  background-image: url(../Multimedia/Imagenes/textura\ definitiva.png);
  background-size: cover;
}
.bodyeducacion .portadaeducacion {
  width: 70%;
  height: 70%;
  margin: 2%;
  padding: 1% 13%;
}
.bodyeducacion .uleducacion {
  background-color: black;
  border-radius: 5%;
  padding: 0%;
  margin: 2%;
  display: flex;
  justify-content: center;
}
.bodyeducacion .uleducacion .h1educacion {
  font-size: 140%;
  color: darkgoldenrod;
  font-family: "Bebas Neue", cursive;
}
.bodyeducacion .header-ed {
  padding: 0%;
  margin: 0%;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: space-between;
}
.bodyeducacion .header-ed .tip {
  padding: 1%;
  margin: 0% 10%;
  font-family: "Bebas Neue", cursive;
  font-size: 150%;
}
.bodyeducacion .header-ed .tip .aed {
  text-decoration: none;
  color: black;
}
.bodyeducacion .header-ed .tip .aed:hover {
  padding: 5px;
  border-radius: 15px;
  background-color: black;
  color: darkgoldenrod;
}

.bodyhome {
  background-image: url(../Multimedia/Imagenes/textura\ definitiva.png);
  background-size: cover;
  padding: 0%;
  margin: 0%;
  display: grid;
  grid-template-areas: "portada portada" "header1 header1" "section2 section4" "section3 section3" "section5 section5" "contacto contacto";
}
.bodyhome .portada {
  width: 235%;
  padding: 20% 8.5%;
  display: flex;
  justify-content: center;
}
.bodyhome .portada .imagenportada {
  max-width: 80%;
  grid-area: portada;
  padding: 0% 2%;
}
.bodyhome .headerhome {
  color: white;
  font-family: "Bebas Neue", cursive;
  padding: 0% 0%;
  margin: 5% 0%;
  top: 0%;
  position: sticky;
  background-color: darkgoldenrod;
  grid-area: header1;
}
.bodyhome .headerhome .logohome p {
  color: black;
  display: flex;
  justify-content: first baseline;
  align-items: center;
  padding: 0%;
  margin: 0%;
}
.bodyhome .headerhome .logohome p .imagenlogo {
  width: 5%;
  height: 5%;
  padding: 0%;
  margin: 0%;
}
.bodyhome .headerhome .navbarh {
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bodyhome .headerhome .navbarh .navh {
  padding: 0.5%;
  margin: 0%;
  font-family: "Bebas Neue", cursive;
  font-size: 150%;
}
.bodyhome .headerhome .navbarh .navh .aplan {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  color: black;
}
.bodyhome .headerhome .navbarh .navh:hover {
  animation: AnimacionH 5s;
}
@keyframes AnimacionH {
  0% {
    background-color: black;
    border-radius: 20%;
  }
}
.bodyhome .section2 {
  font-family: "Bebas Neue", cursive;
  padding: 0px;
  margin: 10px 5px 10px 10px;
  border: 0%;
  width: 95%;
  height: 85%;
  background-image: url(../Multimedia/Imagenes/imagen\ seccion\ 2.png);
  grid-area: section2;
  display: flex;
  justify-content: start;
  align-items: center;
}
.bodyhome .section2 .boton {
  width: 30%;
  padding: 0%;
  margin: 10%;
}
.bodyhome .section2 .boton .botoncomenzar {
  width: 150%;
  padding: 0%;
  margin: 2.5%;
  background-color: black;
  border-radius: 10%;
}
.bodyhome .section2 .boton .botoncomenzar .comenzar {
  padding: 10%;
  font-size: 150%;
  text-align: center;
}
.bodyhome .section2 .boton .botoncomenzar:hover {
  background-color: darkgoldenrod;
}
.bodyhome .section2 .boton .botoncomenzar:hover .comenzar {
  color: black;
}
.bodyhome .section2 .boton .botoninfo {
  padding: 0%;
  margin: 2.5%;
  background-color: black;
  border-radius: 10%;
}
.bodyhome .section2 .boton .botoninfo .info {
  padding: 10%;
  margin: 20%;
}
.bodyhome .section2 .boton .botoninfo:hover {
  background-color: darkgoldenrod;
}
.bodyhome .section2 .boton .botoninfo:hover .info {
  color: black;
}
.bodyhome .section2 .boton a {
  text-decoration: none;
  color: darkgoldenrod;
}
.bodyhome .section3 {
  grid-area: section3;
}
.bodyhome .section3 .videos {
  display: flex;
  justify-content: space-around;
}
.bodyhome .section3 .videos .video {
  padding: 1%;
}
.bodyhome .section4 {
  grid-area: section4;
  width: 100%;
}
.bodyhome .section4 .planesonline {
  padding: 5% 1% 1% 1%;
  margin: 0%;
  display: flex;
  justify-content: space-around;
}
.bodyhome .section4 .planesonline .plan:hover {
  transition: 5s;
  transform: scale(1.2);
  animation: fondoparrafo 60s;
}
@keyframes fondoparrafo {
  0% {
    background-color: black;
  }
}
.bodyhome .section4 .planesonline .plan {
  width: 20%;
  padding: 0%;
}
.bodyhome .section4 .planesonline .plan .parrafosplanes {
  padding: 0%;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
}
.bodyhome .section4 .planesonline .plan .imagenplan {
  width: 100%;
}
.bodyhome .section4 .planesonline .plan .aplan1 {
  text-decoration: none;
}
.bodyhome .section5 {
  font-family: "Bebas Neue", cursive;
  color: darkgoldenrod;
  grid-area: section5;
}
.bodyhome .elegientrenador {
  color: darkgoldenrod;
  padding: 5%;
  font-size: 300%;
}
.bodyhome .coaches {
  display: flex;
  justify-content: space-around;
}
.bodyhome .coach {
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  color: darkgoldenrod;
}
.bodyhome .coach p {
  font-size: 150%;
  display: flex;
  justify-content: center;
}
.bodyhome .coach:hover {
  transform: translateY(-20px) scale(1.2);
  transition: all 0.8s;
  color: white;
}

.footer {
  grid-area: contacto;
  padding: 5%;
}
.footer .contacto {
  color: white;
  padding: 0%;
  margin: 0%;
}
.footer .contacto .contacto1 {
  padding: 1%;
  margin: 0%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  color: darkgoldenrod;
}
.footer .contacto .contacto1 .IG {
  width: 2%;
  height: 2%;
  display: flex;
  align-content: center;
}
.footer .contacto .contacto1 .WP {
  width: 2%;
  height: 2%;
}
.footer .contacto .contacto1 .IGp {
  margin: 0.2%;
}
.footer .contacto .contacto1 .WPp {
  margin: 0.2%;
}
.footer .contacto .contacto1:hover {
  transform: scale(1.5);
  transition: 3s;
  color: white;
}

.bodypersonalizados {
  background-image: url(../Multimedia/Imagenes/textura\ definitiva.png);
  background-size: contain;
}
.bodypersonalizados .parrafoE {
  background-color: black;
  color: white;
  margin: 10px;
  padding: 56px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.bodypersonalizados .logopersonalizados {
  width: 50%;
  height: 50%;
  margin: 2%;
  padding: 3% 23%;
}
.bodypersonalizados .headerpersonalizados {
  background-color: black;
  border-radius: 5%;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
}
.bodypersonalizados .headerpersonalizados .h1personalizados {
  font-size: 140%;
  color: darkgoldenrod;
  font-family: "Bebas Neue", cursive;
}
.bodypersonalizados .sectionF:hover {
  transform: scale(1.07);
  transition: 1s;
  background-color: black;
}
.bodypersonalizados .sectionF {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodypersonalizados .sectionF .imagenF {
  width: 55%;
  height: 55%;
}
.bodypersonalizados .sectionFr:hover {
  transform: scale(1.07);
  transition: 1s;
  background-color: black;
}
.bodypersonalizados .linkWP {
  text-decoration: none;
  color: transparent;
}
.bodypersonalizados .linkWP:hover {
  color: white;
}
.bodypersonalizados .sectionFr {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodypersonalizados .sectionFr .imagenFr {
  width: 55%;
  height: 100%;
}
.bodypersonalizados .sectionV:hover {
  transform: scale(1.1);
  transition: 1s;
  background-color: black;
}
.bodypersonalizados .sectionV {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodypersonalizados .sectionV .imagenV {
  width: 55%;
  height: 55%;
}

.bodyplanesonline {
  background-image: url(/Multimedia/Imagenes/textura\ definitiva.png);
  background-size: contain;
}
.bodyplanesonline .imagenportada {
  width: 50%;
  height: 50%;
  margin: 2%;
  padding: 3% 23%;
}
.bodyplanesonline .headerplanes {
  background-color: black;
  border-radius: 5%;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
}
.bodyplanesonline .headerplanes .h1planes {
  font-size: 140%;
  color: darkgoldenrod;
  font-family: "Bebas Neue", cursive;
}
.bodyplanesonline .aplanes {
  text-decoration: none;
  color: darkgoldenrod;
  font-family: "Bebas Neue", cursive;
  font-size: 150%;
  margin: 5%;
  padding: 1% 1%;
  background-color: black;
  border-radius: 10%;
}
.bodyplanesonline .aplanes:hover {
  animation: cambiodecolor 180s;
}
@keyframes cambiodecolor {
  0% {
    background-color: darkgoldenrod;
    color: black;
    font-size: 300%;
  }
}
.bodyplanesonline .planes {
  color: white;
  padding: 0%;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  background-image: url(../Multimedia/Imagenes/textura-oscura-acuarela_125540-769.jpg);
}
.bodyplanesonline .planes .planhibrido {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bodyplanesonline .planes .hibrido {
  font-family: "Bebas Neue", cursive;
  margin: 3% 10%;
  font-size: 500%;
  text-align: center;
}
.bodyplanesonline .planes .phibrido {
  padding: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: medium;
}
.bodyplanesonline .planes .saludpoderosa {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.bodyplanesonline .planes .salud {
  font-family: "Bebas Neue", cursive;
  margin: 3% 10%;
  font-size: 500%;
  text-align: center;
}
.bodyplanesonline .planes .psalud {
  padding: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: medium;
  text-align: justify;
}
.bodyplanesonline .planes .puraspiernas {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.bodyplanesonline .planes .piernas {
  font-family: "Bebas Neue", cursive;
  margin: 3% 10%;
  font-size: 500%;
  text-align: center;
}
.bodyplanesonline .planes .ppiernas {
  padding: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: medium;
  text-align: justify;
}
.bodyplanesonline .planes .abuelospower {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.bodyplanesonline .planes .abuelos {
  font-family: "Bebas Neue", cursive;
  margin: 3% 10%;
  font-size: 500%;
  text-align: center;
}
.bodyplanesonline .planes .pabuelos {
  padding: 5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: medium;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
