.bodyeducacion {
    background-image: url(../Multimedia/Imagenes/textura\ definitiva.png);
    background-size: cover;
    .portadaeducacion {
        width: 70%;
        height: 70%;
        margin: 2%;
        padding: 1% 13% ;
    }
    .uleducacion{
        background-color: black;
        border-radius: 5%;
        padding: 0%;
        margin: 2%;
        display: flex;
        justify-content: center;
        .h1educacion {
            font-size: 140%;
            color: darkgoldenrod;
            font-family: 'Bebas Neue', cursive;
        }
    }
   .header-ed {
        padding: 0%;
        margin: 0%;
        background-color: darkgoldenrod;
        display: flex;
        justify-content: space-between;
        .tip {
            padding: 1%;   
                margin: 0% 10%;
                font-family: 'Bebas Neue', cursive;
                font-size: 150%;
                .aed {
                text-decoration: none; 
                color: black;
                }
                .aed:hover {
                    padding: 5px;
                    border-radius: 15px;
                    background-color: black;
                    color: darkgoldenrod;
                }

      }
    }
}