body {
    background-image: url(/Multimedia/Imagenes/—Pngtree—garbage\ texture\ line\ corrugated\ stone_1595126.png);
    background-size: cover;
    .portadaeducacion {
        width: 50%;
        height: 50%;
        margin: 2%;
        padding: 3% 23% ;
    }
    .uleducacion{
        background-color: black;
        border-radius: 5%;
        padding: 0%;
        margin: 2%;
        display: flex;
        justify-content: center;
        .h1educacion {
            font-size: 140%;
            color: darkgoldenrod;
            font-family: 'Bebas Neue', cursive;
        }
    }
   header {
        padding: 0%;
        margin: 0%;
        background-color: darkgoldenrod;
        display: flex;
        justify-content: space-between;
         div {
            padding: 1%;   
                margin: 0% 10%;
                font-family: 'Bebas Neue', cursive;
                font-size: 150%;
                a {
                text-decoration: none; 
                color: black;
                }
                a:hover {
                    padding: 5px;
                    border-radius: 15px;
                    background-color: black;
                    color: darkgoldenrod;
                }

      }
    }
}