.bodyhome {
    background-color: black;
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-areas: 
    "portada portada portada portada"
    "header header header header" 
    "section2 section2 section4 section4"
    "section3 section3 section3 section3"
    "section5 section5 section5 section5"
    "contacto contacto contacto contacto";
    .portada {
        .imagenportada {
            grid-area: portada;
            margin: 0%;
            padding: 0%;
            max-width:1340px;
        }
    }
    .headerhome {
        color: white;
        font-family: 'Bebas Neue', cursive;
        padding: 0%;
        margin: 0%;
        top: 0%;
        position: sticky;
        background-color: darkgoldenrod; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: header;

        .logohome{ 
            color: black;
            display: flex;
            justify-content: first baseline;
            align-items: center;
            padding: 0%;
            margin: 0%;

            .imagenlogo {
                width: 5%;
                height: 5%;
                padding: 0%;
                margin: 0%;
            }
        }

       .logohome p {
            margin: 0%;
        }

        .navbarh{
            display: flex;
            justify-content: space-between;
            .navh {
                padding: 0%;   
            }
            .navh:hover {
                animation: AnimacionH 5s;
            }
            @keyframes AnimacionH {
                0% {
                    background-color: black  ;
                    border-radius: 20%;
                }
            }
        }
    }

    .section2{
        font-family: 'Bebas Neue', cursive;
        padding: 0px;
        margin: 10px 5px 10px 10px;
        border: 0px;
        width: 500px;
        height: 416px;
        background-image:url(../Multimedia/Imagenes/telefonocomputadorapixabay.jpg);
        grid-area: section2;
    }

    .section3 {
        border: 1px darkgoldenrod solid;
        grid-area: section3;
    }
    .section4{
        grid-area: section4;
        .planesonline{
            padding: 10px 10px 10px 5px;
            margin: 0px;
            display: flex;
            justify-content: space-around;
            .plan:hover {
                transform: scale(1.2);
                animation: fondoparrafo 10s;
            }
            @keyframes fondoparrafo {
                0% {background-color: black;
                }
            }
            .plan{
                width: 200px;
                .parrafosplanes{ 
                    padding: 0%;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 16px;
                    text-align:  center;
                }
            }
        }
    }
    .section5{
        font-family: 'Bebas Neue', cursive;
        color: darkgoldenrod;
        grid-area: section5;
        }   
        .elegientrenador{
            color:darkgoldenrod;
        }
        .coaches{
            display: flex;
            justify-content: space-around;
            
        }
        .coach:hover{
            transform: translateY(-20px);
            transition: all .8s;
        }
    }
    .footer{
        grid-area: contacto;
        .contacto{
            color: white;
            padding: 0px;
            margin: 0px;
            .contacto1 {
                display: flex;
                justify-content: center;
            }
        }
    }
