
.bodyhome {
    background-image: url(../Multimedia/Imagenes/textura\ definitiva.png);
    background-size: cover;
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-areas: 
    "portada portada"
    "header1 header1" 
    "section2 section4"
    "section3 section3"
    "section5 section5"
    "contacto contacto";
    .portada {
        width: 235%;
        padding: 20% 8.5%;
        display: flex;
        justify-content: center;
        .imagenportada {
            max-width: 80%;
            grid-area: portada;
            padding: 0% 2%;
        }
    }
    .headerhome {
        color: white;
        font-family: 'Bebas Neue', cursive;
        padding: 0% 0%;
        margin: 5% 0%;
        top: 0%;
        position: sticky;
        background-color: darkgoldenrod;  
        grid-area: header1;

       .logohome p {
            color: black;
            display: flex;
            justify-content: first baseline;
            align-items: center;
            padding: 0%;
            margin: 0%;

            .imagenlogo {
                width: 5%;
                height: 5%;
                padding: 0%;
                margin: 0%;
            }
        }

        .navbarh{
            padding: 0%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .navh {
                padding: 0.5%;   
                margin: 0%;
                font-family: 'Bebas Neue', cursive;
                font-size: 150%;
                .aplan {
                    padding: 0%;
                    margin: 0%;
                    text-decoration: none;
                    color: black;
                }
            }
            .navh:hover {
                animation: AnimacionH 5s;
            }
            @keyframes AnimacionH {
                0% {
                    background-color: black  ;
                    border-radius: 20%;
                }
            }
        }
    }

    .section2{
        font-family: 'Bebas Neue', cursive;
        padding: 0px;
        margin: 10px 5px 10px 10px;
        border: 0%;
        width: 95%;
        height: 85%; 
        background-image:url(../Multimedia/Imagenes/imagen\ seccion\ 2.png);
        grid-area: section2;
        display: flex;
        justify-content: start;
        align-items: center;
        .boton {
            width: 30%;
            padding: 0%;
            margin: 10%;
            .botoncomenzar {
                width: 150%;
                padding: 0%;
                margin: 2.5%;
                background-color: black;
                border-radius: 10%;
                .comenzar {
                    padding: 10%;
                    font-size: 150%;
                    text-align: center;
                }
            }
            .botoncomenzar:hover {
                background-color: darkgoldenrod;
                .comenzar {
                    color: black;
                }
            }
            .botoninfo {
                padding: 0%;
                margin: 2.5%;
                background-color: black;
                border-radius: 10%;
                .info {
                    padding: 10%;
                    margin: 20%;
                }
            }
            .botoninfo:hover {
                background-color: darkgoldenrod;
                .info {
                    color: black;
                }
            }
        }
        .boton a {
            text-decoration: none;
            color: darkgoldenrod;
        }
    }

    .section3 {
       grid-area: section3;
       .videos {
           display: flex;
           justify-content: space-around;
           .video {
               padding: 1%;
           }
       }
    }
    .section4{
        grid-area: section4;
        width: 100%;
        .planesonline{
            padding: 5% 1% 1% 1%;
            margin: 0%;
            display: flex;
            justify-content: space-around;
            .plan:hover {
                
                transition: 5s;
                transform: scale(1.2);
                animation: fondoparrafo 60s;
            }
            @keyframes fondoparrafo {
                0% {background-color: black;
                }
            }
            .plan{
                width: 20%;
                padding: 0%;

                .parrafosplanes{ 
                    padding: 0%;
                    font-family: 'Roboto Condensed', sans-serif;
                    color: white;
                    font-size: 16px;
                    text-align:  center;
                }

                .imagenplan {
                    width: 100%;
                }
                .aplan1  {
                    text-decoration: none;
                }
            }
        }
    }
    .section5{
        font-family: 'Bebas Neue', cursive;
        color: darkgoldenrod;
        grid-area: section5;
        }   
        .elegientrenador{
            color:darkgoldenrod;
            padding: 5%;
            font-size: 300%;
        }
        .coaches{
            display: flex;
            justify-content: space-around;
            
        }
        .coach {
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            color:darkgoldenrod;
        }
        .coach p {
            font-size: 150%;
            display: flex;
            justify-content: center;
        }
        .coach:hover{
            transform: translateY(-20px) scale(1.2);
            transition: all .8s;
            color: white;
        }
    }
    .footer{
        grid-area: contacto;
        padding: 5%;
        .contacto{
            color: white;
            padding: 0%;
            margin: 0%;
            .contacto1 {
                padding: 1%;
                margin: 0% ;
                display: flex;
                justify-content: center;
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                color:darkgoldenrod;
                .IG {
                    width: 2%;
                    height: 2%;
                    display: flex;
                    align-content: center;
                }
                .WP {
                    width: 2%;
                    height: 2%;
                }
                .IGp {
                    margin: 0.2%;
                }
                .WPp {
                    margin: 0.2%;
                }
            
            }
            .contacto1:hover {
                transform: scale(1.5);
                transition: 3s;
                color: white;
            }
        }
    }
