.bodypersonalizados {
    background-image: url(/Multimedia/Imagenes/—Pngtree—garbage\ texture\ line\ corrugated\ stone_1595126.png);
    background-size: contain;
    .parrafoE {
        background-color: black;
        color: white;
        margin: 10px;
        padding: 56px;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
    }
    .logopersonalizados {
        width: 50%;
        height: 50%;
        margin: 2%;
        padding: 3% 23% ;
    }
    .headerpersonalizados {
        background-color: black;
        border-radius: 5%;
        padding: 0%;
        margin: 0%;
        display: flex;
        justify-content: center;
        .h1personalizados {
            font-size: 140%;
            color: darkgoldenrod;
            font-family: 'Bebas Neue', cursive;
        }

    }
    .sectionF:hover{
        transform: scale(1.07);
        transition: 1s;
        background-color: black;
    }
    .sectionF{
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .imagenF {
            width: 55%;
            height: 55%;
        }
        
    }
    .sectionFr:hover{
        transform: scale(1.07);
        transition: 1s;
        background-color: black;
    }
    .linkWP {
        text-decoration: none;
        color: transparent;
    }
    .linkWP:hover {
        color: white;
    }
    .sectionFr{
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .imagenFr {
            width: 55%;
            height: 100%;
        }
        
    }
    .sectionV:hover{
        transform: scale(1.1);
        transition: 1s;
        background-color: black;
    }
    .sectionV{
        padding: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        .imagenV {
            width: 55%;
            height: 55%;
        }
        
    }
    


}