.bodypersonalizados {
    background-color: darkgoldenrod;
    .headerpersonalizados {
        display: flex;
        justify-content: center;
        .h1personalizados {
            font-family: 'Roboto Condensed', sans-serif;
            text-align: center;
            padding: 0px;
            font-size: 60px;
        }
        .logopersonalizados {
            width: 110px;
            height: 110px;
            padding: 0px;
            margin: 0px;
        }
    }
    .sectionF{
        padding: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        .sectionF:hover{
            transform: scale(1.1);
            transition: 1s;
            background-color: black;
        }
        .sectionF img {
            width: 250px;
            height: 250px;
        }
        .parrafoE {
            background-color: black;
            color: white;
            margin: 10px;
            padding: 56px;
            text-align: center;
            font-family: 'Bebas Neue', cursive;
        }
    }
    .sectionFr{
        padding: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        .sectionFr img {
            width: 250px;
            height: 250px;
        }
        .sectionFr:hover{
            transform: scale(1.1);
            transition: 1s;
            background-color: black;
        }
    }
    .sectionV{
        padding: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        .sectionV img {
            width: 250px;
            height: 250px;
        }
        .sectionV:hover{
            transform: scale(1.1);
            transition: 1s;
            background-color: black;
        }
    }
    


}