
html{
    font-size: 22px;
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

/*----HOME----*/
.bodyhome{
    background-color: black;
    background-size: cover;
    display: grid;
    grid-template-areas: 
    "portada portada portada portada"
    "header header header header" 
    "section2 section2 section4 section4"
    "section3 section3 section3 section3"
    "section5 section5 section5 section5"
    "contacto contacto contacto contacto";
}
/*imagen de portada*/
.portada {
    grid-area: portada;
    
    margin: 0px;
    padding: 0px;
    max-width:1340px;
}
/*seccion 1, header*/
header{
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 0px;
    margin: 0px;
    top: 0px;
    position: sticky;
    background-color: darkgoldenrod; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

.logo{ 
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.logo p {
    margin: 0px;
}
.imagenlogo {
    width: 40px;
    height: 40px;
    padding: Opx;
    margin: opx;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.nav{
    padding: 5px;
}
.nav:hover {
    animation: cambiodecolor 10s;
}

@keyframes cambiodecolor {
    0% {
        background-color: black  ;
        border-radius: 15px;
    }
}

/*fin header*/

/*seccion 2*/
.section2{
    font-family: 'Bebas Neue', cursive;
    padding: 0px;
    margin: 10px 5px 10px 10px;
    border: 0px;
    width: 500px;
    height: 416px;
    background-image:url(../Multimedia/Imagenes/telefonocomputadorapixabay.jpg);
    grid-area: section2;
}

/*seccion 3, carrucel de videos*/
.section3 {
    border: 1px darkgoldenrod solid;
    grid-area: section3;
}
/* seccion 4*/

.section4{
    grid-area: section4;
}
.planesonline{
    padding: 10px 10px 10px 5px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
.planesonline div{
    width: 200px;
}

.parrafosplanes{ 
    padding: 0%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-align:  center;
}
.plan:hover {
    transform: scale(1.2);
    animation: fondoparrafo 10s;
}
@keyframes fondoparrafo {
    0% {background-color: black;
    }
}

/*Seccion 5*/

.section5{
    font-family: 'Bebas Neue', cursive;
    color: darkgoldenrod;
    grid-area: section5;
}
.coaches{
    display: flex;
    justify-content: space-around;
    
}
.coach:hover{
    transform: translateY(-20px);
    transition: all .8s;
}
.elegientrenador{
    color:darkgoldenrod;
}
/*Seccion 6*/

.contacto{
    color: white;
    padding: 0px;
    margin: 0px;
}
.contacto1 {
    display: flex;
    justify-content: center;
}
.footer{
    grid-area: contacto;

}

/*----FIN HOME----*/

/*----PlanesOnline----*/

.bodyplanesonline{
    background-color: darkgoldenrod;
    font-family: 'Bebas Neue', cursive;
}
.H1{
    display: flex;
    justify-content: center;
}
